<p id="notice"><%= notice %></p>

<h1>View Helper Test</h1>
Title</br><%= text_field :book,:title %></br>
Isbn</br><%= number_field :book,:isbn %></br>
Free Space</br><%= text_area :book,:memo %></br>
Cd</br><%= check_box :book, :cd,{},0,1 %></br>
<%= radio_button :user, :color, "a" %>1番好きな本
<%= radio_button :user, :color, "b" %>1番嫌いな本
<%= radio_button :user, :color, "c" %>その他</br>
Publish Address</br><%= select :user,:address,["ニューヨーク","ロンドン","パリ"] %></br>
Publish</br><%= collection_select(:book, :publish, Publish.all, :id, :publishname) %>
</br>
<%= link_to 'Back', books_path %></br>
<%= image_tag 'k.jpg' %>